*{
    margin: 0;
    border: 0;
    padding: 0;
}
#content_jpg{
    background-image: url(imagem/aee.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    border: 2px solid red;
    width: 100%;
    height: 559px;
}